<!DOCTYPE html>
<html>
<head>
    <title>Prototype template - display inline</title>
    <meta charset="utf-8" /> 
</head>

    <style>
        #container {
            font-family: Arial;
            font-size: 16px;
            display: block;
        }
        
        #header {
            border-top: 3px solid #D9E2EC;
            border-bottom: 3px solid #D9E2EC;
            background-color: #F0F4F8;
            padding: 10px 0;
        }
        
        #header ul li {
            display: inline;
        }
    </style>

    <body>
        <!-- this template uses display inline to match the layout of Refactoring UI Component Gallery -->
        
        <div id="container">
            <div class="header>
                  >Description</
                  Primary
                  Secondary         
            </div>
            <div class="components">
                <div id="header">
                    <ul>
                        <li>Description text</li>
                        <li>Item</li>
                    </ul>
                </div>
                Option A
                Option B
                Option C
                
            </div>
        </div>
        

    </body>

</html>


